﻿
@{
    ViewData["Title"] = "Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <p>When complete, this page should be a fully functional directory, including the ability to add, edit, delete, and search for a person.</p>
    </div>

