﻿@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3 class="display-4">Congratulations on your consideration for the JO Dev Team!</h3>
    <p>This homework will be used by our development team to review your coding style, ensure that you have an understanding of basic MVC, API, and SQL practices, and to evaluate your willingness to learn new technologies. When complete, the directory page should display listings for all people stored in your local database. We would like to see you provide common CRUD functions leveraging the PeopleApi project. We should be able to add, edit, delete, and search for a person.</p>
    <p>You can view a .NET Core MVC tutorial <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/razor-pages-start?view=aspnetcore-2.2&tabs=visual-studio" target="_blank">here</a>.</p>
    <p>Another tab should have opened displaying Swagger UI docs for the PeopleAPI. The controller has been implemented, but some of the handler methods have not. Please complete the handlers using <a href="https://dapper-tutorial.net/" target="_blank">Dapper</a>. The PeopleAPI uses the <a href="https://github.com/jbogard/MediatR" target="_blank">MediatR</a> pattern, which we use in our own development. You won't need working knowledge of it for this project.</p>
    <p>The PeopleAPI has been setup to run on <a href="https://localhost:44357" target="_blank">https://localhost:44357</a>, so use that URL when consuming API endpoints on the front end.</p>
</div>
